# Basics

**Check if an integer is even or odd**


> n=6

> 110 & 01 == 0

In [ ]:
n = int(input("enter integer: "))
if n & 1 == 0:
  print("EVEN")
else:
  print('ODD')

enter integer: 99
ODD

**Detect if two integers have opposite signs or not**


> The binary representations of the numbers 1 to 10 and -1 to -10:

1: 0001
2: 0010
3: 0011
4: 0100
5: 0101
6: 0110
7: 0111
8: 1000
9: 1001
10: 1010

-1: 1111
-2: 1110
-3: 1101
-4: 1100
-5: 1011
-6: 1010
-7: 1001
-8: 1000
-9: 0111
-10: 0110
> To postive number filp the bits and add 1
> In binary representation, positive numbers have a leading 0, while negative numbers have a leading 1.


> n1=4 and n2=-2
> 0100 ^
> 1110
> ----
> 1010

* x ^ y is negative if x and y have opposite signs
* for postive number the leftmost bit is 0 and for negative number it is 1

In [ ]:
x = int(input("enter integer: "))
y = int(input("enter integer: "))
if x^y < 0 :
  print('opposite signs')
else:
  print('same signs')

enter integer: 4
enter integer: 12
same signs

**Add 1 to an integer**
* n=8
* 8+1=9
* 7=111+01
* -~n = n + 1

In [ ]:
# -~4
n = int(input("enter interger: "))
-~n

enter interger: 6

7

In [ ]:
-~(-5)

-4

In [ ]:
~4

-5

**Swap two numbers wihtout using any third variable**
* the idea to use XOR operators to swap two numbers by their property `x ^ x = 0`

In [ ]:
x = int(input("enter integer: "))
y = int(input("enter integer: "))
print(x,y)
x = x ^ y
y = x ^ y
x = x ^ y
print(x,y)

enter integer: 4
enter integer: 5
4 5
5 4

**Turn off k'th bit in a number**
* i/p: 1101010**1**1101, k'th bit = k-1=5-1=4
* o/p: 1101010**0**1101
* 1 in binary 0000001
* 1<<k
* here k=4 so 1<<k is 010000
* i/p ^ (1<<k)

In [ ]:
n = int(input("enter integer: "))
k = int(input("enter k'th bit: "))
#print(n ^ (1 << (k-1)))
print(n & ~( 1<< (k-1)))

enter integer: 17
enter k'th bit: 2
19
17

**Turn on the k'th bit in a number**
* i/p: 11101**0**100, k = 4-1
* o/p: 11101**1**100
* 1<<k
*

In [ ]:
n = int(input("enter integer: "))
k = int(input("enter k'th bit: "))
print(bin(n))
print(bin(n)[-2])
print(n | (1 << (k-1)))
print(bin(n | (1 << (k-1))))

enter integer: 20
enter k'th bit: 2
0b10100
0
22
0b10110

**Check if k'th bit is set for a number**

In [ ]:
n = int(input("enter integer: "))
k = int(input("enter k'th bit: "))
print(bin(n))
print(n & (1 << (k-1)))
print(bin(n & (1 << (k-1))))
if (n & (1 << (k-1))):
  print("k'th bit is set")
else:
  print("k'th bit is not set")

enter integer: 20
enter k'th bit: 2
0b10100
0
0b0
k;th bit is not set

**Toggle the k'th bit**

In [ ]:
n = int(input("enter integer: "))
k = int(input("enter k'th bit: "))
print(bin(n))
print(n ^ (1 << (k-1)))
print(bin(n ^ (1 << (k-1))))

enter integer: 20
enter k'th bit: 2
0b10100
22
0b10110

**The k'th bit** `n`      `( 1 << (k-1))`
* Toggle -  **^**
* off - **&~**
* on - **|**
* set - **&**

# Rightmost bit of number

**Unset the rightmost set bit of a number**
* 0101011 = n
* 1
* n & ~1
* seems to be similar to **off**ing the bit so for off **` &~`**

In [ ]:
n = int(input("enter number:"))
print(bin(n))
print(n & ~1)
print(bin(n & ~1))

enter number:7
0b111
6
0b110

`n & (n-1)` will turn off the rightmost set bit of number **n**
* the **n-1** number will have the all bits fliped after the rightmost bit of number **n**
* n = 6 = 110
* n-1 = 6-1 = 5 = 101

In [ ]:
n = int(input("enter number:"))
print(bin(n))
print(n & (n-1))
print(bin(n & (n-1)))

enter number:6
0b110
4
0b100

**Check if a postive integer is a power of 2**
* n & (n-1)
* n = 16 = 10000
* n-1 = 16-1 = 15 = 01111
* n & (n-1) = 10000 & 01111 = 0
* if n = 15=1111
* n-1=14 = 1110
* n & (n-1) = 1111 & 1110 != 0

In [ ]:
n = int(input("enter number:"))
if n & (n-1) == 0:
  print("power")
else:
  print("no")

enter number:16
power

**Find position of the rightmost set bit**

In [ ]:
n = int(input("enter number:"))
new_n = n ^ (n & (n-1)) # new_n = n & -n
position = 0
while(new_n):
  position += 1
  new_n >>= 1
print(position)

enter number:20

3

In [ ]:
count = 0
n = int(input("enter number:"))
while(n):
  n >>= 1
  count += 1
count

enter number:99

7

**The number of 1 bits in a given number is even or odd**

In [ ]:
n = int(input("enter number:"))
count = 0
while(n):
  if n & 1:
    count += 1
  n >>= 1
print(count)
if count & 1 == 0:
  print("even")
else:
  print("odd")

enter number:30
4
even

# Letters of English Alphabet

**Convert uppercase charcter to lowercase**

In [ ]:
ch = 'Z'
chr(ord(ch)|ord(' '))

'z'

In [ ]:
ord(' '),ord('A'),ord(' ')+ord('A')

(32, 65, 97)

In [ ]:
bin(ord(' ')),bin(ord('A')),bin(ord(' '))+bin(ord('A')),bin(97)

('0b100000', '0b1000001', '0b1000000b1000001', '0b1100001')

In [ ]:
for i in range(ord('A'),ord('Z')+1,1):
  print()

In [ ]:
ch = input("enter uppercase character: ")
print(chr(ord(ch) | ord(' ')))

enter uppercase character: A
a

**Convert lowercase charcters to uppercase characters**

In [ ]:
ch = input("Enter lowercase charcters: ")
print(chr(ord(ch) ^ ord(' '))) # ch & '_'

Enter lowercase charcters: a
A

In [ ]:
bin(ord('_'))

'0b1011111'

# Problems

**Find XOR of two numbers without using the XOR operator**
* x = 0101
* y = 1011
* x | y = 1111 = 15
* x & y = 0001 = 1
* x ^ y = 1110 = 14 i.e
*    -  = 15 - 1 = 14

In [ ]:
x = int(input("enter integer: "))
y = int(input("enter integer: "))
print((x | y)-(x & y))

enter integer: 4
enter integer: 5
1

**Multiply a given integer with 15 without using multiplication and division operators**

In [ ]:
bin(4),bin(15),bin(60)

('0b100', '0b1111', '0b111100')

In [ ]:
bin(5),bin(15),bin(75)

('0b101', '0b1111', '0b1001011')

In [ ]:
bin(15<<4)

'0b11110000'

In [ ]:
(4<<4 )-15

225

In [ ]:
print(bin(15<<3),bin(15<<2),bin(15<<1),bin(15<<0))
print((15<<3),(15<<2),(15<<1),(15<<0))

15 * n = 8n+4n+2n+1n = 2^3 n + 2^2 n + 2^1 n + 2^0 n = (n<<3)+(n<<2)+(n<<1)+n

In [ ]:
4<<3,bin(4<<3)

In [ ]:
n = int(input("enter integer: "))
print((n<<3)+(n<<2)+(n<<1)+n)

enter integer: 3
45

The idea is to use the left shift bitwise operator to solve this problem. Let the given integer be n. We know that 15 × n can be rewritten as:

`15 × n = (16 × n - n) = (n << 4) - n`

We can extend this solution to any number of forms, 2i-1, where i >= 1, and we can use the expression (`n << i) - n`

In [ ]:
n = int(input("enter integer: "))
print((n<<4)-n)

enter integer: 4
60

**Multiply a given even integer with 7.5 without using multiplication and division operators**
* 7.5n = 15 * n/2 = (15n)/2
* from above
* 15n = (n<<4)-n
* /2 means right shift operator
* so `((n<<4) - n ) >> 1`
* 7.5n = 15 × n/2 = `((n << 3) + (n << 2) + (n << 1) + n ) >> 1`
* **another apporach**
* 7.5n = 8n - n/2 = `((n << 3) - (n >> 1) - (n & 1))`

In [ ]:
n = int(input("enter integer: "))
print(((n<<4)-n)>>1)

enter integer: 3
22

In [ ]:
n = int(input("enter integer: "))
print((n<<3)-(n>>1))
print((n<<3)-(n>>1) -(n&1))

enter integer: 3
23
22

In [ ]:
7.5*3

22.5

**Calculate value of 15 × n/16 without using multiplication and division operators**
* 15 × n/16 = `(n << 4) - n) >> 4`        
* 15 × n/16 = `((n << 3) + (n << 2) + (n << 1) + n) >> 4`
* 15 × n/16 = n - n/16 = `n - (n >> 4)`

In [ ]:
n = int(input("enter integer: "))
print(((n<<4)-n)>>4)

enter integer: 5
4

In [ ]:
(15*5)/16

4.6875

In [ ]:
n = int(input("enter a number: "))
power = int(input("enter power number: "))
if n <= 0:
  print("not")
while n%power == 0:
  n //= power
if n == 1:
  print("yes")
else :
  print("no")

enter a number: 16
enter power number: 4
yes

**Compute the sign of an integer**
* if leftmost bits are 0's then it is a postive number otherwise it is negative number

In [ ]:
n = int(input("enter a number:"))
n = n >> 31 ###
n = n & 1 ###
if n == 1:
  print("neagtive")
else:
  print("postive")

enter a number:-31
neagtive

**Number of bits to be flipped to convert A to B**

In [ ]:
A = bin(int(input("enter nubmer: ")))
B = bin(int(input("enter nubmer: ")))
print(A,B)
count = 0
if len(A) == len(B):
  for i in range(len(A)-1,-1,-1):
    if A[i] == B[i]:
      continue
    else:
      count += 1
print(count)

enter nubmer: 8
enter nubmer: 7
0b1000 0b111
0

In [ ]:
A = int(input("enter nubmer: "))
B = int(input("enter nubmer: "))
print(A,B)
count = 0
max_len_bits = max(A.bit_length(),B.bit_length())
print(max_len_bits)
A = format(A,'0{}b'.format(max_len_bits))
B = format(B,'0{}b'.format(max_len_bits))

print(A,B)

enter nubmer: 8
enter nubmer: 4
8 4
4
1000