<a href="https://colab.research.google.com/github/chinthapooja/Basics_of_Python/blob/main/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Dictionary is a collection of keys and values.
* key:value
* value in dictionary can be of any type and can be duplicated also but keys are not duplicated.
* keys of dictionary are case sensitive i.e. number and Number are different.

In [ ]:
dct = {'a':1,'b':2,'c':3}
print(dct)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
empty_dct = {}
print("empty dict",empty_dct)

empty dict {}

In [ ]:
# creating dictionary with each item as a pair using dict()
ex_dct = dict([('d',4),('e',5)])
print("example dict",ex_dct)
# time complexities for creating dict is O(len(dict))
# space complexities is O(N)

example dict {'d': 4, 'e': 5}

In [ ]:
# nested dict
nested_dct = {'a':1,'b':2,'c':{'d': 4, 'e': 5}}
print(nested_dct)

{'a': 1, 'b': 2, 'c': {'d': 4, 'e': 5}}

In [ ]:
#add elements to dict
dct['d']=4
print("after adding one element to dct",dct)
# while adding using this way if key and value is already existed then it update the previous key value by new value
# adding elements time complexity O(N) or O(1)

after adding one element to dct {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# access the elements of dict
# by key of dict in square brackets
print(dct['a'])
# there is other method to access dict by using get() method
dct.get("al")
#time complexity for accessing dict by using get method is O(1)

1

In [ ]:
# accessing nexted elements of dict
print(nested_dct['c'])
print(nested_dct['c']['e'])

{'d': 4, 'e': 5}
5

In [ ]:
#dict methods
new_dct = {'a':1,'b':2,'c':3}

In [ ]:
#clear() it removes all the elements from the dict
print(new_dct.clear(),new_dct)

None {}

In [ ]:
#copy() it create the copy of dict
new_dct = {'a':1,'b':2,'c':3}
new_dct_copy = new_dct.copy()
print("copy():")
print(id(new_dct_copy),id(new_dct))
print(new_dct.copy(),new_dct_copy,"\n")

copy():
135394136054336 135394362515584
{'a': 1, 'b': 2, 'c': 3} {'a': 1, 'b': 2, 'c': 3}

In [ ]:
#keys()
print(new_dct.keys(),*new_dct.keys())

dict_keys(['a', 'b', 'c']) a b c

In [ ]:
#values()
print(new_dct.values())

dict_values([1, 2, 3])

In [ ]:
#items() +returns the list of tuples with having keys and values
print(new_dct.items())

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
#pop()
var = new_dct.pop('a')
print(var,new_dct)
#var = new_dct.pop() # gets error as pop requires one argument

1 {'b': 2, 'c': 3}

In [ ]:
#popitem() pop the last inserted item in dict
var = new_dct.popitem()
print(var,new_dct)

('c', 3) {'b': 2}

In [ ]:
#update()
print(new_dct)
new_dct.update([('z',26)])
print(new_dct)
print(new_dct.update([('y',25),('x',24)]))
new_dct.update([('y',25),('x',24)])
print(new_dct)

{'b': 2}
{'b': 2, 'z': 26}
None
{'b': 2, 'z': 26, 'y': 25, 'x': 24}

In [ ]:
#str() returns the string
new_dct = {1:'a',2:'b',3:'c','ab':12}
print(str(new_dct))
print(new_dct)

{1: 'a', 2: 'b', 3: 'c', 'ab': 12}
{1: 'a', 2: 'b', 3: 'c', 'ab': 12}

In [ ]:
#len()
print(len(new_dct))

4

In [ ]:
#type()
print(type(new_dct))
print(type(new_dct[2]))

<class 'dict'>
<class 'str'>

In [ ]:
#fromkeys(seq,value) will create a dict with keys from seqence and have same value for each key
seq = ('name','age','id')
print(dict.fromkeys(seq,5))
print(dict.fromkeys(seq,[1,2,3]))

{'name': 5, 'age': 5, 'id': 5}
{'name': [1, 2, 3], 'age': [1, 2, 3], 'id': [1, 2, 3]}

In [ ]:

#by using we can add new key if doesnot exist then adds value to it also
#print(new_dct.has_key('ab'))
print(new_dct)
print(new_dct.get('abc','not present'))
print(new_dct)

{1: 'a', 2: 'b', 3: 'c', 'ab': 12}
not present
{1: 'a', 2: 'b', 3: 'c', 'ab': 12}

In [ ]:
#same like get()
#print(new_dct.setdefault("id"))
print(new_dct.setdefault("id",1234))
print(new_dct)

1234
{1: 'a', 2: 'b', 3: 'c', 'ab': 12, 'id': 1234}

In [ ]:
# find the common elements in three sorted arrays
#arr1 = [1, 5, 10, 20, 40, 80]
#arr2 = [6, 7, 20, 80, 100]
#arr3 = [3, 4, 15, 20, 30, 70, 80, 120]

arr1 = [1, 5, 5]
arr2 = [3, 4, 5, 5, 10]
arr3 = [5, 5, 10, 20]

def common_ele(arr,A,B):
  lst = []
  for i in arr:
    if i in A and i in B:
      lst.append(i)
  return lst


if len(arr1) < len(arr2) and len(arr1) < len(arr3):
  #length = len(arr1)
  print(common_ele(arr1,arr2,arr3))
elif len(arr2) < len(arr1) and len(arr2) < len(arr3):
  #length = len(arr2)
  print(common_ele(arr2,arr1,arr3))
else:
  #length = len(arr3)
  print(common_ele(arr3,arr1,arr2))

[5, 5]

In [ ]:
#method 1 # Switch case implementation in python using dict mapping
def switch_case(letter):
  dct = {"a":'A',"b":'B',"c":'C'}
  return dct.get(letter,"letter is not present")
letter = input("give letter:")
print(switch_case(letter))


#method 2 # using if-else
name = input("enter:")
if name == 'aaaa':
  print('name is ', name)
elif name == 'bbbb':
  print('name is ', name)
elif name == 'cccc':
  print('name is ', name)
else:
  print('name is not present')

give letter:cccc
letter is not present
enter:uu
name is not present

In [ ]:
# method 3 # using class
#getatrr(object,attribute,default)
#if the attribute is not present then it gives default
# below class shows how getattr works
class Person:
  Name = 'pooja'
  Place = 'HYD'
print(getattr(Person,'Name','chintha'))
print(getattr(Person,'surname','chintha'))

class Switch_case:
  def stng(self,letter):
    return getattr(self,'case_'+str(letter),lambda:"incorrect letter")()
  def case_a(self):
    return "A"
  def case_b(self):
    return "B"
  def case_c(self):
    return "C"

sc = Switch_case()
letter = input("enter:")
sc.stng(letter)

pooja
chintha
enter:p

'incorrect letter'

In [ ]:
# possible words using given characters in python
srn = ["go","bat","me","eat","goal","boy", "run"]
arr = ['e','o','b', 'a','m','g', 'l']

for i in srn:
  length_i = len(i)
  count = 0
  for j in i:
    if j in arr:
      count += 1
      if count == length_i:
        print(i)

go
me
goal

In [ ]:
# keys associated with values in dictionary
dct = {'abc' : [10, 30,50], 'bcd' : [30, 40, 10]}
new_dct = {}
#print(*dct.values())
count = 0

for i in dct.items():
  for j in i[1]:
    if j in new_dct.keys():
      new_dct[j].append(i[0])
    else:
      new_dct.update([(j,[i[0]])])
print(new_dct)

{10: ['abc', 'bcd'], 30: ['abc', 'bcd'], 50: ['abc'], 40: ['bcd']}

In [ ]:
# dict to find mirror characters in a string
dct = {
    'a':[1,26],
    'b':[2,25],
    'c':[3,24],
    'd':[4,23],
    'e':[5,22],
    'f':[6,21],
    'g':[7,20],
    'h':[8,19],
    'i':[9,18],
    'j':[10,17],
    'k':[11,16],
    'l':[12,15],
    'm':[13,14],
    'n':[14,13],
    'o':[15,12],
    'p':[16,11],
    'q':[17,10],
    'r':[18,9],
    's':[19,8],
    't':[20,7],
    'u':[21,6],
    'v':[22,5],
    'w':[23,4],
    'x':[24,3],
    'y':[25,2],
    'z':[26,1]
}

In [ ]:
from pdb import set_trace as bp
number = int(input("enter a number from where to start in a string:"))
strng = input("enter string:")
val_lst = list(dct.values())
key_lst = list(dct.keys())
print(key_lst,'\n',dct.keys())
for i,s in enumerate(strng):
  if i >= number-1:
    n = dct[s][1]
    s=key_lst[n-1]
    print(s,end="")
  else:
    print(s,end="")

enter a number from where to start in a string:4
enter string:letters
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
 dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'])
letgvih

In [ ]:
dct = {}
for i in range(0,26):
  dct[chr(ord('A')+i)] = i+1
dct

{'A': 1,
 'B': 2,
 'C': 3,
 'D': 4,
 'E': 5,
 'F': 6,
 'G': 7,
 'H': 8,
 'I': 9,
 'J': 10,
 'K': 11,
 'L': 12,
 'M': 13,
 'N': 14,
 'O': 15,
 'P': 16,
 'Q': 17,
 'R': 18,
 'S': 19,
 'T': 20,
 'U': 21,
 'V': 22,
 'W': 23,
 'X': 24,
 'Y': 25,
 'Z': 26}