<a href="https://colab.research.google.com/github/chinthapooja/Basics_of_Python/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List:**
* it is a sequence of data types which is used to store the collection of data,enclosed in [ ] and separted by comma.
* dynamically sized arrays
* in list elements need not to be homogenous that is a single list can contain different datatypes like integers,strings,objects,list,tuple
* it is mutable

In [1]:
# creating a list
lst = ['1','a',1]
lst

['1', 'a', 1]

In [2]:
# empty list
lst = []
lst

[]

Complexities for creating lists
* Time Complexity : O(1)
* space Complexity : O(n)

In [3]:
#  creating a list with multiple duplicate elements
lst = [1,2,3,4,'a','x','list elements',1,1,'a']
lst # duplicate values can be passed as a sequence at the time of list creation

[1, 2, 3, 4, 'a', 'x', 'list elements', 1, 1, 'a']

Accessing list elements:
* list elements are accessed by using index number
* also by using negative indexing
  * negative indexing sequence represent positions from the end of the array
  * negative indexing begins from the end, -1 refers to the last item, -2 refers to the second last item,etc.
  * Instead of having to compute the offset as in list[len(list)-3], it is enough to just write list[-3]
* Complexities for Accessing elements in a Lists:
  * Time Complexity : O(1)
  * space Complexity : O(1)

In [4]:
lst[3]

4

In [5]:
lst[0]

1

In [6]:
# nested list
lst = [1,2,3,['a','b','c',10]]
print(lst[3])
print(lst[3][0])

['a', 'b', 'c', 10]
a

In [7]:
lst = [1,2,3,4,'a','x','list elements',1,100,'a']
print(lst[-1])
print(lst[len(lst)-2])
print(lst[-2])

a
100
100

In [8]:
# size of list
len(lst)

10

In [9]:
# can take the input of a list of elements as string,integer,float,etc., but the default one is a string
stng = input('enter the elements by space separated:')
print(stng)
lst = stng.split()
print(lst)

enter the elements by space separated:python basics
python basics
['python', 'basics']


map(function,iterables)
* map() function executes the specified function for each item in iterables

strip(characters)
* strip() function removes any leading and trailing characters this is default
* characters - to be removed

In [10]:
def func(lst):
  return len(lst)
p = map(func,['python','fundamentals','123',[1,2,3,4,5]])
q = map(func,(('python','fundamentals'),['123',[1,2,3,4,5],1]))
#q = map(func,[('python','fundamentals'),['123',[1,2,3,4,5],1]])
print(list(q))
print(list(p),p)

[2, 3]
[6, 12, 3, 5] <map object at 0x7ba4e52ca0e0>

In [11]:
stng = "   hellol, welcome to python fundamentals     "
print(stng)
print(stng.strip())
print(stng.strip(' helo'))
p =stng.strip(' hellol')
print(p)

print(stng.strip(' hellol'))
print(stng.strip('hellol'))
print(stng.strip(' fudametals'))

   hellol, welcome to python fundamentals
hellol, welcome to python fundamentals
, welcome to python fundamentals
, welcome to python fundamentals
, welcome to python fundamentals
   hellol, welcome to python fundamentals
hellol, welcome to python fundamen

In [12]:
n = int(input("len of the list:"))
lst = list(map(int,input("enter the integer:").strip().split()))[:n]
print(lst)

len of the list:5
enter the integer:1 9 20 38 46 56
[1, 9, 20, 38, 46]

Adding elements to list
* append()
  * can only add one element at a time
  * if we want add multiple elements using append() then put append() function in loop
  * can also add list, tuple
  * add the element to the "end of the list"
  * Complexities for Adding elements in a Lists(append() method):
    * Time Complexity: O(1)
    * Space Complexity: O(1)
* insert()
  * to add element at desire postion i.e any where in the list
  * insert(position,value)
  * Complexities for Adding elements in a Lists(insert() method):
    * Time Complexity: O(n)
    * Space Complexity: O(1)
* extend()
  * add multiple elements at the end of list
  * Complexities for Adding elements in a Lists(extend() method):
    * Time Complexity: O(n)
    * Space Complexity: O(1)

In [13]:
lst = []
print(lst)

lst.append(1)
print(lst)

for i in range(5):
  lst.append(i)
  print(lst)

lst.append((20,30))
print(lst)

lst.append(['a','b'])
print(lst)

[]
[1]
[1, 0]
[1, 0, 1]
[1, 0, 1, 2]
[1, 0, 1, 2, 3]
[1, 0, 1, 2, 3, 4]
[1, 0, 1, 2, 3, 4, (20, 30)]
[1, 0, 1, 2, 3, 4, (20, 30), ['a', 'b']]

In [14]:
lst

[1, 0, 1, 2, 3, 4, (20, 30), ['a', 'b']]

In [15]:
lst.insert(0,"insearting_at_0_th_position")
lst

['insearting_at_0_th_position', 1, 0, 1, 2, 3, 4, (20, 30), ['a', 'b']]

In [16]:
lst.extend((("end",100,200),))
lst

['insearting_at_0_th_position',
 1,
 0,
 1,
 2,
 3,
 4,
 (20, 30),
 ['a', 'b'],
 ('end', 100, 200)]

In [17]:
lst.extend([10,20,30])
lst

['insearting_at_0_th_position',
 1,
 0,
 1,
 2,
 3,
 4,
 (20, 30),
 ['a', 'b'],
 ('end', 100, 200),
 10,
 20,
 30]

In [18]:
lst.extend(([64,65],))  # lst.extend(([64,65]))  try this
lst

['insearting_at_0_th_position',
 1,
 0,
 1,
 2,
 3,
 4,
 (20, 30),
 ['a', 'b'],
 ('end', 100, 200),
 10,
 20,
 30,
 [64, 65]]

Reverse a list:
* using reverse() method
* negative slicing

In [19]:
lst = [1,2,'python']
lst.reverse()
print(lst)

['python', 2, 1]

In [20]:
lst = [1,2,'python']
lst = lst[::-1]
print(lst)

['python', 2, 1]

Removing elements from list:
* remove()
  * only one element can be removed at a time from list by using remove() method but if element is not present then it gives error
  * if want to remove multiple elements use for loop
  * remove method removes first occurence of the element
  * Complexities for removing elements in a Lists:
    * Time Complexity: O(n)
    * Space Complexity: O(1)
  * remove() method doesnot return anything
* pop()
  * it remove and returns the removed element from the list
  * by default it removes the last element of the list
  * in pop() method index of the element to be passed not direclty element
  * Complexities for removing elements in a Lists:
    * Time Complexity: O(1) for removing last element and O(n) for other elements
    * Space Complexity: O(1)

In [21]:
lst = [1,2,3,'python','fundametals']
removed =  lst.remove(1)
print(lst)
print(removed)

[2, 3, 'python', 'fundametals']
None

In [22]:
r = lst.remove('a')
print(r)

ValueError: ignored

In [ ]:
lst = [1,2,3,4,1,20,1]
lst.remove(1)
print(lst)

In [ ]:
lst = [1,9,4,7,2,9,17]
r = lst.pop(1)
print(r)
print(lst)

Slicing of list:
* By using slicing we can get substrings and sublists
* slice operation is performed by using :(colon) operator
*list[start:end:step]

In [23]:
lst = [1,12,33,24,5,16,7,8,9]

# to print elements from begining to at some point
print(lst[:5])

# to print elemnet from end
print(lst[:-5])

# print elements from a specific index till the end
print(lst[2:])

# print the whole list in reverse order
print(lst[::-1])

print(lst[-5:])
print(lst[-5:-2])

[1, 12, 33, 24, 5]
[1, 12, 33, 24]
[33, 24, 5, 16, 7, 8, 9]
[9, 8, 7, 16, 5, 24, 33, 12, 1]
[5, 16, 7, 8, 9]
[5, 16, 7]

List Comprehension:
* `newlist = [expression(element) for element in oldlist if condition]`
* list comprehensions create a new list from the other iterables like tuples, string, arrays,lists, etc.,
* list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element

In [24]:
newlist = [i**3 for i in range(1,11) if i%2 == 1]
print(newlist)

[1, 27, 125, 343, 729]

In [25]:
newlist = []
for i in range(1,11):
  if i%2 == 1:
    newlist.append(i**3)
print(newlist)

[1, 27, 125, 343, 729]

Nested List comprehension:
* list compreshension within another list comprehension (similar to nested for loops)

In [26]:
lst = []
for i in range(5):
  l = []
  for j in range(5):
    l.append(j)
  lst.append(l)
print(lst)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [27]:
lst = [[j for j in range(5)] for i in range(5)]
print(lst)
# [expression for i in range(5)] means expression executes and append the value to the list
# here the expression is another list comprehension so for i = 0 the expression(list comprehension executes like normal list comprehension)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [28]:
lst = [1,2,3,1,3,5,61,1]
print(len(lst)) # returns the length of list
print(min(lst)) # returns the minimum number from a list
print(max(lst)) # returns the maximum number from a list
lst.extend(('a','b'))
print(len(lst)) # returns the length of list
#print(min(lst)) # str and int element are not comparable
#print(max(lst))

8
1
61
10

In [29]:
lst = ['a','b','z']
max(lst)

'z'

In [30]:
lst = [10, 20, 30, 10, 20, 10, 20, 30, 20, 10]
print(lst.index(20)) # return the first occurrence of element after the begining and before end
print(lst.index(20,-2,len(lst)-1)) # index(ele,-2,end)
print(lst.index(20,6,9))

1
8
6

In [31]:
# count returns the number of times element occurred in a list
lst.count(10)

4

In [32]:
lst

[10, 20, 30, 10, 20, 10, 20, 30, 20, 10]

In [33]:
sum(lst) # returns the sum of all elements in a list

180

In [34]:
l = ['a',1,2]
sum(l)

TypeError: ignored

In [35]:
l = [int('a'),1,2]
sum(l)

ValueError: ignored

del():
* element to be deleted is mentioned by using list name and index

In [36]:
print(lst)
del lst[-1]
print(lst)

[10, 20, 30, 10, 20, 10, 20, 30, 20, 10]
[10, 20, 30, 10, 20, 10, 20, 30, 20]

In [37]:
del lst
print(lst)

NameError: ignored

In [38]:
lst = [1,2,3]
lst1 = lst.copy()
lst1[0]=10
print(lst)
print(lst1)

[1, 2, 3]
[10, 2, 3]

In [39]:
lst.clear() # remove the all elements from a list
print(lst)

[]

sort(reverse=True/False,key):
*

In [40]:
lst =  [["ram", "mohan", "aman"], ["gaurav"], ["amy", "sima", "ankita", "rinku"]]
#lst.sort(key=len)
#lst.sort()
#sorted(lst,key=len)
lst=sorted(lst,key=len)
lst

[['gaurav'], ['ram', 'mohan', 'aman'], ['amy', 'sima', 'ankita', 'rinku']]

In [41]:
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]
for i in lst2:
  if i not in lst1:
    lst1.append(i)
  else:
    continue
lst1

[23, 15, 2, 14, 14, 16, 20, 52, 48, 12, 26, 32, 47, 54]

In [42]:
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]
print([i for i in lst1 if i in lst2])

[15, 2]

In [43]:
lst = [10, 20, 30, 40, 50, 40, 40, 60, 70]
count = 0
for i in lst:
  if i in range(40,80):
    count += 1
print(count)

6

In [44]:
def func(ele):
  lst = ['a','b','c','d','e']
  if ele in lst:
    return True
  else: return False
p = filter(func,['a','d',1]) # tests if each element of a list is true or not
#print(p)
for i in p:
  print(i)

a
d

In [45]:
lst = ['a','b']#[1,2]
''.join(lst)

'ab'

In [46]:
digits=[1,2,3]
stng = ''
for i in digits:
  stng += str(i)
int(stng)

123

# Problems

**Interchange the first and last elements in a list**

In [47]:
lst = [1,10,22,4,2,0]
# method 1
lst[0],lst[len(lst)-1] = lst[len(lst)-1],lst[0]
print(lst)

# method 2
lst = [1,10,22,4,2,0]
a,*b,c = lst
lst = c,*b,a
print(*b)
print(lst)
print(list(lst))

[0, 10, 22, 4, 2, 1]
10 22 4 2
(0, 10, 22, 4, 2, 1)
[0, 10, 22, 4, 2, 1]

**Swap any two elements in a list**

In [49]:
lst = [1,10,22,4,2,0]
length = len(lst)
index1 = int(input("enter first index to swap and it should be less than {} length of list ".format(length)))
index2 = int(input("enter second index to swap and it should be less than {} length of list ".format(length)))
lst[index1],lst[index2]=lst[index2],lst[index1]
print(lst)

enter first index to swap and it should be less than 6 length of list 2
enter second index to swap and it should be less than 6 length of list 5
[1, 10, 0, 4, 2, 22]

**Find length of a list**

In [50]:
lst = [1,10,22,4,2,0]
print(len(lst))

count = 0
for i in lst:
  count += 1
print(count)

6
6

**Check if element exists in list**

In [51]:
lst = [1,10,22,4,2,0]
ele = int(input("enter the element to check whether it existed in list or not:"))
#method 1
if ele in lst:
  print("exist")
else :
  print("doesn't exist")
#method 2
check = lst.count(ele)
print("exist") if check > 0 else print("doesn't exist")

#method 3
for i in lst:
  print("exist") if (i == ele) else print("doesn't exist")

enter the element to check whether it existed in list or not:3
doesn't exist
doesn't exist
doesn't exist
doesn't exist
doesn't exist
doesn't exist
doesn't exist
doesn't exist

**Clear list**

In [52]:
lst = [1,10,22,4,2,0]
print(lst)
# method 1
print(lst.clear(),lst)

#method 2
lst = [1,10,22,4,2,0]
lst = lst[:0]
print(lst)

#method 3
lst = [1,10,22,4,2,0]
# list.pop(index)
# it returns the last value or returns the given index value from the list
while(len(lst)!= 0):
  lst.pop()
print(lst)

#method 4
lst = [1,10,22,4,2,0]
del lst[:]
print(lst)

# if we used lst instead of lst[:] then entire list is deleted while printing lst we get error
#lst = [1,10,22,4,2,0]
#del lst
#print(lst)

[1, 10, 22, 4, 2, 0]
None []
[]
[]
[]

**Reversing a list**

In [53]:
#method 1
lst = [1,10,22,4,2,0]
lst = lst[::-1]
print(lst)

#method 2
lst = [1,10,22,4,2,0]
new_lst = []
for i in range((len(lst)-1), -1,-1):
  new_lst.append(lst[i])
print(new_lst)

#method 3
lst = [1,10,22,4,2,0]
new_lst = []
for i in lst:
  new_lst.insert(0,i)
print(new_lst)

[0, 2, 4, 22, 10, 1]
[0, 2, 4, 22, 10, 1]
[0, 2, 4, 22, 10, 1]

**Sort the values of first list using second list**

In [54]:
lst1 = ['a','b','c','d','e','f','g','h','i']
lst2 = [0,1,1,0,2,2,0,1]
new_lst = []
#for i,ele in enumerate(lst2):
  #print(i,ele)
#  if i == ele:
#    new_lst.append(lst1[i])
#print(new_lst)

lst_pairs = zip(lst2,lst1)
#print(sorted(lst_pairs))
for i,j in sorted(lst_pairs):
  #pass
  #print(i,j)
  print(j,end=" ")

a d g b c h e f

**Break a list into chunks of size N in python**

In [55]:
lst = [0,1,2,3,4,5,6,7,8]
chunk = 4
for i in range(0,len(lst),chunk):
  print(lst[i:i+chunk])

[0, 1, 2, 3]
[4, 5, 6, 7]
[8]

**Sum of number digits in list**

In [56]:
lst = [21,35,81,11,10]
new_lst = []
for i in lst:
  sum = 0
  while i!=0:
    remainder = i % 10
    i = i // 10
    sum +=remainder
  new_lst.append(sum)
print(new_lst)

[3, 8, 9, 2, 1]

**Find cumulative sum of a list**

In [57]:
lst = [1,2,3,4,5]
#new_lst = []
sum = 0
for i in lst:
  sum += i
  print(sum,end=" ")

1 3 6 10 15

**Print duplicates from a list of integers**

In [58]:
lst = [1,1,2,3,1,3,-1,2,4,0,-1,0]
new_lst = []
for i in range(len(lst)):
  if lst[i] in lst[i+1:]:
    #print(lst[i],end=' ')
    if lst[i] not in new_lst:
      new_lst.append(lst[i])
print(new_lst)

[1, 2, 3, -1, 0]

**Removing Empty Tuples from a List of Tuples**

In [61]:
lst_of_tples = [(), ('ram','15','8'), (), ('laxman', 'sita'), ('krishna', 'akbar', '45'), (','),()]
for i in lst_of_tples:
  if len(i) == 0:
    lst_of_tples.remove(i)
print(lst_of_tples)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ',']

**Finding Needle in a Haystack**

In [62]:
haystack = "mississippi"
needle = "issip"
l = len(needle)
for i in range(len(haystack)):
  if haystack[i:i+l] == needle:
    print(i)

4

**Transposing a Matrix**

In [63]:
m = [[1,2,9],[8,0,1],[3,4,5]]
r = len(m)
c = len(m[0])
transpose = [[0 for j in range(r)]for i in range(c)]
for i in range(r):
  for j in range(c):
    transpose[j][i]=m[i][j]
transpose

[[1, 8, 3], [2, 0, 4], [9, 1, 5]]

**Removing Non-Alphabetic Characters from a String**

In [64]:
stng = '@#$%^&py$%..t@hon'
stng = [i for i in stng if ord(i) in range(ord('a'),ord('z')+1) or ord(i) in range(ord('A'),ord('Z')+1) ]
print(stng)
print(''.join(stng))
''.join(stng)

['p', 'y', 't', 'h', 'o', 'n']
python

'python'


**Finding Subarrays with Zero Sum**


Given an integer array, check if it contains a contiguous subarray having zero-sum.

Input : [3, 4, -7, 3, 1, 3, 1, -4, -2, -2]

Output: true

Explanation: The subarrays with zero-sum are

  [3, 4, -7]
  [4, -7, 3]
  [-7, 3, 1, 3]
  [3, 1, -4]
      [3, 1, 3, 1, -4, -2, -2]
      [3, 4, -7, 3, 1, 3, 1, -4, -2, -2]

Input : [4, -7, 1, -2, -1]

Output: false
Explanation: The subarray with zero-sum doesn't exist.

In [65]:
#arr = [4, -7, 1, -2, -1]
arr = [3, 4, -7, 3, 1, 3, 1, -4, -2, -2]
for i in range(len(arr)): ### two for loops
  sum = 0
  #print(i)
  for j in range(i,len(arr)):
    sum += arr[j]
    if sum == 0:
      print(arr[i:j+1]) ###
      break

[3, 4, -7]
[4, -7, 3]
[-7, 3, 1, 3]
[3, 1, 3, 1, -4, -2, -2]
[3, 1, -4]