In [ ]:
# half pyramid
n = int(input("enter number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print("\n")

enter number:5
*

* *

* * *

* * * *

* * * * *

In [ ]:
n = int(input("enter number:"))
while(n>0):
  for i in range(1,n+1):
    print('*',end=' ')
  n -= 1
  print('\n')

enter number:7
* * * * * * *

* * * * * *

* * * * *

* * * *

* * *

* *

*

In [ ]:
n = int(input("enter number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

enter number:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n = int(input("enter number:"))
c = 0
while(n>0):
  for i in range(c):
    print(" ",end=" ")
  for i in range(1,n+1):
    print('*',end=' ')
  c += 1
  print()
  n -= 1

enter number:5
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
n = int(input("enter odd number:"))
p = int(n/2)
q = (n%2)
if n > 1:
  for i in range(1,n+1,2):

    for j in range(0,p):
      print(' ',end=' ')
    for j in range(0,q):
      print('*',end=' ')
    #for j in range(0,p):
    #  print(' ',end=' ')
    p -= 1
    q += 2
    print()

enter odd number:9
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
n = int(input("enter number:"))
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

enter number:5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
n = int(input("enter number:"))
p = int(n/2)
q = n%2
c = n
for i in range(0,n):
  for j in range(1,c):
    print(' ',end=' ')
  for j in range(c,n+1):
    print('*',end=' ')
  c -= 1
  print()

enter number:9
                *
              * *
            * * *
          * * * *
        * * * * *
      * * * * * *
    * * * * * * *
  * * * * * * * *
* * * * * * * * *

In [ ]:
n = int(input("enter number:"))
r = n%2
for i in range(0,n):
  for j in range(1,r):#1,i+1
    print(' ',end=' ')
  for j in range(0,n):
    print('*',end=' ')
  for j in range(1,r):
    print(' ',end=' ')
  r += 1
  print()

enter number:4
* * * *
* * * *
  * * * *
    * * * *

In [ ]:
4n = int(input("enter number:"))
r = n%2
c = n
for i in range(0,n,2):
  for j in range(1,r):
    print(' ',end=' ')
  for j in range(0,c):
    print('*',end=' ')
  for j in range(1,r):
    print(' ',end=' ')
  r += 1
  c -= 2
  print()

enter number:9
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
n = int(input("enter number:"))
for i in range(1,n+1):
  if i == (n//2)+1:
    for j in range(0,n):
      print('*',end=' ')
  else:
    for j in range(1,n+1):
      if j == (n//2)+1:
        print('*',end=" ")
      else:
        print(' ',end=' ')
  print()

enter number:5
    *
    *
* * * * *
    *
    *

In [ ]:
n = int(input("enter a odd number:"))
for i in range(1,n+1):
  for j in range(1,n+1):
    if i == j or i+j == n+1:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

enter a odd number:5
*       *
  *   *
    *
  *   *
*       *

In [ ]:
n = int(input("enter number:"))
for i in range(1,n+1):
  for j in range(1,n-i+1):
    print(" ",end='')
  for j in range(1,i+1):
    print(j,end='')
  print()

enter number:5
    1
   12
  123
 1234
12345

In [ ]:
n = int(input("enter number:"))
for i in range(n):
  for j in range(n-i+1): # spaces
    print(' ',end='')
  for j in range(2*i+1): # 2n+1 is odd and each row we have to print from 1 to till odd number
    print(j+1,end='')
  print()

enter number:7
        1
       123
      12345
     1234567
    123456789
   1234567891011
  12345678910111213

In [ ]:
n =5
for i in range(n,0,-1):
  for j in range(n-i+1):
    print(' ',end='')
  for j in range(1,2*i):
    print(j,end='')
  print()

 123456789
  1234567
   12345
    123
     1

In [ ]:
chr(65),ord('A')

('A', 65)

In [ ]:
from pdb import set_trace as bp
iput = input("enter character between A to Z:")
diff = ord(iput) - ord('A')
for i in range(ord('A'),ord(iput)+1):
  for j in range(0,diff):
    print('',end=' ')
  print(chr(i),end='')
  if (i - 65 >= 1):
    for j in range(i-65):
      print(" ",end=' ')
    print(chr(i),end='')
  print()
  diff -= 1

enter character between A to Z:D
   A
  B  B
 C    C
D      D