Tuples: The sequence of values in python can be of any datatype. The values are separated by commas. In tuple values are provided inside the parenthesis. But not necessirly because sequence of values are separated by comma with or without the parenthesis for grouping the data.
* Creating a tuple without parentheses is known as tuple packing.
* tuple is immutable.
* Tuple elements can be accessed via unpacking the tuple or by indexing.
* While unpacking tuple number of variable on the left and side should be equal to a number of values in a given tuple.

In [ ]:
#empty tuple
empty_tuple = ()
print("empty tuple:",empty_tuple)

tple = (1,2,'a')
print("example:",tple)

#converting list into tuple
lst = [1,2,3]
print(lst,"list into tuple:",tuple(lst))

t1 = (1)
t2 = (1,)
print(t1,t2)
# t1 is just an integer and t2 is tuple
# to be tuple with single element should have comma at the traling

empty tuple: ()
example: (1, 2, 'a')
[1, 2, 3] list into tuple: (1, 2, 3)
1 (1,)

In [ ]:
tple = ('ab',)
for i in tple:
  print(i)
for i in range(5):
  tple = (tple,)
  print(tple)

ab
(('ab',),)
((('ab',),),)
(((('ab',),),),)
((((('ab',),),),),)
(((((('ab',),),),),),)

In [ ]:
tple=("a",)*4
print(tple)

('a', 'a', 'a', 'a')

In [ ]:
tple=("a")*4
print(tple)

aaaa

In [ ]:
tple=("a",1)*4
print(tple)

('a', 1, 'a', 1, 'a', 1, 'a', 1)

In [ ]:
tple=(("a",1))*4
print(tple)

('a', 1, 'a', 1, 'a', 1, 'a', 1)

In [ ]:
tple=(("a",1),)*4
print(tple)

(('a', 1), ('a', 1), ('a', 1), ('a', 1))

In [ ]:
tple=(("a",1),10)*4
print(tple)

(('a', 1), 10, ('a', 1), 10, ('a', 1), 10, ('a', 1), 10)

In [ ]:
tple = (1,23,456)
a,b,c =tple
print(a,b,c)

1 23 456

In [ ]:
tple = (1,23,456,7,8)
a,*b,c =tple
print(a,b,c)

1 [23, 456, 7] 8

In [ ]:
print(tple[1])
print(tple[-1])
print(tple[0:2])

23
8
(1, 23)

Concatenation of tuple: joing two or more tuples.
* this is done by using '+' operator
* concatenation is always done from the end of the orginal tuple.

In [ ]:
t1 =(1,2,3,4)
t2=('a','b','c')
print(t1+t2)

(1, 2, 3, 4, 'a', 'b', 'c')

In [ ]:
t1=[1,2,3]
t3=[1,2,3]
print(t1+t3)
t2=('a','b','c')
print(t1+t2)

[1, 2, 3, 1, 2, 3]

TypeError: ignored

Slicing of Tuple:
fetching some range from given tuple.
* indexing: fetching a single elment
* slicing: fetching set of elements

Deleting a tuple: As tuples are immutable so entire tuple gets deleted. Part of tuple or single elements cannot be deleted from tuple.

In [ ]:
tple=(1,2,3)
print(tple)
del tple
print(tple)

(1, 2, 3)

NameError: ignored

In [ ]:
tple = (1,2,3,4,'a','b','c')
print(tple.index('a'))
print(tple.count(1))
print(len(tple))
tple=(9.1,0,-1,10,4,7,19)
print(max(tple))
print(min(tple))
print(sum(tple))
print(enumerate(tple))
print(sorted(tple))
#tple = (1,'c')
lst = [1,2]
print(all(lst),any(lst))
print(all(tple)) # return true if all elements in tuple is true or else returns false
print(any(tple)) # return true if any element in tuple is true and return false if tuple is empty

4
1
7
19
-1
48.1
<enumerate object at 0x7fd589c6cc80>
[-1, 0, 4, 7, 9.1, 10, 19]
True True
False
True

sorted(iterable,key,reverse)
* iterable: list,dict,tuple etc.,
* key:it is a function decide the order
* reverse: default is false and will sort in asecending if it is true will sort in descending order

In [ ]:
# sort the tuple in increasing order by any key
#tple = [(2, 5), (1, 2), (4, 4), (2, 3)]
tple = [(23, 45, 20), (25, 44, 39), (89, 40, 23)]
m = int(input("enter the key:"))

def sort_key(tple):
  return tple[m]
tple = sorted(tple,key=sort_key)
print(tple)

enter the key:2
[(23, 45, 20), (89, 40, 23), (25, 44, 39)]

In [ ]:
tp=('a','b','p','f','z')
sorted(tp)

['a', 'b', 'f', 'p', 'z']

In [ ]:
# remove emty tuple from the list
tples = [(), ('ram','15','8'), (), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('',''),()]
for i in tples:
  if i == ():
    tples.remove(i)
print(tples)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [ ]:
tple = (1,2,3,4,5)
print(tple.__sizeof__())
import sys
print(sys.getsizeof(tple)) # this icludes garbage collection overhead of object

64
80

In [ ]:
dir(tple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
# print unique rows in a given boolean matrix using set with tuples
mat = [[0, 1, 0, 0, 1],
             [1, 0, 1, 1, 0],
             [0, 1, 0, 0, 1],
             [1, 1, 1, 0, 0]]
s = set()
for i in mat:
  s.add(tuple(i))
for i in s:
  print(i)

(0, 1, 0, 0, 1)
(1, 0, 1, 1, 0)
(1, 1, 1, 0, 0)

In [ ]:
#generate all possible valid IP addresses from given string

In [ ]:
# generate two output strings depending upon occurence of character in input string
strng = "chintha pooja ch"#"geekspractice"
s1 = set()
s2 = set()
for i in strng:
  if strng.count(i) > 1:
    s1.add(i)
  else:
    s2.add(i)
print(''.join(list(s1)))
print(''.join(list(s2)))

o ach
pjint

In [ ]:
a= [(1,"a"),(2,"b")]
dict(a)

{1: 'a', 2: 'b'}